/*
  font-family: "Raleway", sans-serif;
    font-family: "Inter", sans-serif;
  */
.font-railway {
  font-family: "Raleway", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.seat-selected {
  background-color: #1dd100 !important;
  color: white !important;
}
